.article {
  grid-area: article;
}



.article__inner-user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px;
  border-radius: 5px;
  transform: translateX(15px);
}
.article__inner-user-card:nth-child(n + 2) {
  margin-top: 20px;
}
.article__user-card {
  padding-bottom: 60px;
}

.article-button {
  margin-top: 20px;
  width: auto;
}

.user-card-photo {
  padding-bottom: 66.44%;
  padding-top: 30px;
  width: 100%;
  position: relative;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.user-card-photo-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-card-name {
  font-family: var(--font-family-b);
  font-size: 18px;
  margin-bottom: 8px;
}

.user-card-work {
  font-family: var(--font-family-i);
  font-size: 14px;
  color: var(--color-gray);
  margin-bottom: 14px;
}
.user-card-text {
  font-family: var(--font-family-r);
  font-size: 15px;
  color: var(--color-gray);
}

.article__inner-user-card:hover > h4,
.article__inner-user-card:hover > h6,
.article__inner-user-card:hover > p {
  color: var(--color-white);
}

.article__post:hover .scale-photo,
.article__user-card:hover .scale-photo {
  background-color: var(--color-blue);
  transform: translateX(-12%);
}

.article__post {
  padding-bottom: 60px;
  color: var(--color-black);
  grid-area: article__post;
}

.article__title {
  font-family: var(--font-family-b);
  font-size: 18px;
  padding-inline: 30px;
}
.article__post-photo {
  padding-bottom: 66.44%;
  padding-top: 30px;
  width: 100%;
  position: relative;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.article__post-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.article__post-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px;
  border-radius: 5px;
  transform: translateX(15px);
  margin-top: 20px;
}

.article__post-text-top {
  font-size: 20px;
  font-family: var(--font-family-b);
}

.article__post-text-bottom {
  margin-top: 10px;
  font-family: var(--font-family-i);
  font-size: 14px;
}

.article__post-item:hover > h4,
.article__post-item:hover > h6 {
  color: var(--color-white);
}

.article__post-item:hover {
  background-color: var(--color-blue);
  transform: translateX(-12%);
}

.article__sticker-blue {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}

.article__instagram {
  padding-bottom: 60px;
  grid-area: article__instagram;
}

.article__instagram:hover > .article__grid {
  background-color: var(--color-blue);
  transform: translateX(-12%);
}

.article__grid-item {
  position: relative;
  padding-top: 30px;
  padding-bottom: 75%;

  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.article__grid-item-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.article__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-radius: 10px;
  padding: 15px;
  transform: translateX(15px);
  margin-top: 20px;
}

.article__grid-button {
  grid-row: 4;
  grid-column: 1 / 3;
  width: auto;
}

.article__instagram-icon {
  position: relative;
  top: 22%;
  transform: translateY(-50%);
  right: 5%;
}
.article__tags {
  grid-area: article__tags;
  margin-top: 20px;
}

.article__tags-inner {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  padding: 15px;
  transform: translateX(15px);
}
.article__tags-item {
  font-size: 14px;
}
.article__tags:hover > .article__tags-inner {
  background-color: var(--color-blue);
  transform: translateX(-12%);
}


