.footer-top__inner {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 65px 0 50px;
}
.footer-top__inner__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min-content;
}
.footer-top__about-text {
  font-family: var(--font-family-r);
  font-size: 14px;
  color: var(--color-gray-footer);
  margin: 30px 0 64px;
}

.footer__title {
  font-family: var(--font-family-b);
  font-size: 20px;
  margin-bottom: 23px;
}

.footer-top__about__social {
  display: flex;
  gap: 0 15px;
}

.footer-top__about__social-img {
  padding: 8px;
  background-color: var(--color-gray);
  border-radius: 5px;
  width: 34px;
  height: 34px;
  transition: all var(--animation);
}

.footer-top__inner__recent-posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 33%;
}

.recent-posts__text-top {
  font-family: var(--font-family-b);
  font-size: 16px;
  margin-bottom: 13px;
}
.recent-posts__text-bottom {
  color: var(--color-gray-footer);
  font-family: var(--font-family-i);

  font-size: 14px;
}

.footer-top__recent-posts__item {
  display: flex;
  align-items: center;
  gap: 20px;

  border-radius: 10px;
  padding: 10px;

  transition: all var(--animation);
}

.footer-top__recent-posts__item-photo {
  min-width: 94px;
  height: 94px;
  overflow: hidden;
  border-radius: 10px;
}

.footer-top__recent-posts__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-top__form__inner {
  margin-bottom: 30px;
}
.footer-top__form__inner,
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.form-button {
  background-color: #373737;
  width: 100%;
}

.form-name,
.form-email {
  padding: 15px 0 15px 15px;
  font-family: var(--font-family-r);
  font-size: 14px;
  color: #aeb3bb;
  background-color: #373737;
  border-radius: 3px;
}

.form-name::placeholder,
.form-email::placeholder {
  font-family: var(--font-family-r);
  color: #aeb3bb;
  font-size: 14px;
}

.footer-bottom {
  padding-block: 40px;
  background-color: #000;
  color: var(--color-white);
}

.footer-bottom__inner {
  display: flex;
  font-family: var(--font-family-r);
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__nav {
  display: flex;
  gap: 0 40px;
}

.footer-bottom__nav .footer-bottom__item__text {
  transition: all var(--animation);
}


@media (hover: hover) {
  .footer-top__recent-posts__item:hover,
  .footer-top__about__social-img:hover {
    background-color: var(--color-blue);
    scale: var(--scale-active);
  }
  .footer-top__recent-posts__item:active,
  .footer-top__about__social-img:active {
    scale: var(--scale-normal);
  }
  .footer-bottom__nav .footer-bottom__item__text:hover {
    scale: var(--scale-active);
    color: var(--color-blue);
  }
  
  .footer-bottom__nav .footer-bottom__item__text:active {
    scale: var(--scale-normal);
  }
}
@media (hover: none) {
  .footer-top__recent-posts__item:active,
  .footer-top__about__social-img:active {
    background-color: var(--color-blue);
    scale: var(--scale-active);
  }
  .footer-bottom__nav .footer-bottom__item__text:active {
    scale: var(--scale-active);
    color: var(--color-blue);
  }
}
