:root {
  --color-white: #fff;
  --color-black: #171717;
  --color-black-light: #232323;
  --color-blue: #4a90e2;
  --color-gray-footer: #cecece;
  --color-gray: #2d3436;
  --color-gray-light: #ebebeb;

  --font-family-b: PTSansB, sans-serif;
  --font-family-i: PTSansI, sans-serif;
  --font-family-r: PTSansR, sans-serif;
  --font-family-lato-r: LatoR, sans-serif;

  --animation-speed: 0.25s;
  --animation-fanc: ease;
  --animation: var(--animation-speed) var(--animation-fanc);

  --scale-normal: 1;
  --scale-active: 1.05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-inline: 20px;
}

.scale-photo {
  transition: all var(--animation);
}

@media (hover: hover) {
  .scale-photo:hover,
  .scale-photo:focus {
    box-shadow: var(--color-black) 7px 7px 7px;
    scale: var(--scale-active);
  }

  .scale-photo:active {
    scale: var(--scale-normal);
    box-shadow: 0 0 0 0;
  }
}

@media (hover: none) {
  .scale-photo:active {
    box-shadow: var(--color-black) 7px 7px 7px;
    scale: var(--scale-active);
  }
}

@media (max-width: 1280px) {
  .description-text {
    font-size: 22px;
  }
  .low-info > .container:hover .low-info__item:nth-child(n + 1) {
    transform: translateY(0);
  }
  .low-info__inner {
    gap: 15px;
  }
}
@media (max-width: 1035px) {
  .description-text {
    font-size: 16px;
  }
  .main__bottom {
    padding-bottom: 40px;
  }

  .grid-item__description,
  .main__item-description {
    padding: 15px;
  }
  .low-info__sticker-photo,
  .article__sticker-blue {
    top: 15px;
    left: 15px;
  }
  .main__bottom-inner {
    justify-content: space-between;
  }
  .article__post-text-top,
  .low-info__text-top {
    font-size: 16px;
  }

  .main__description-text-top {
    font-size: 22px;
    margin-top: 16px;
  }
}
@media (max-width: 950px) {
  .article__title__tag {
    padding: 0 0 20px;
  }
  .article__tags-inner {
    transform: translateX(0);
    border-radius: 10px 3px;
    width: 95%;
    margin: 0 auto;
  }
  .article__tags-item {
    font-size: 14px;
  }
  .article__tags:hover > .article__tags-inner {
    background-color: var(--color-blue);
    transform: translateX(0);
  }
  .main__bottom {
    grid-template-areas:
      "main__bottom article"
      "main__bottom article__post"
      "main__bottom article__instagram"
      "article__tags article__tags";
  }
}

@media (max-width: 850px) {
  .main__bottom {
    grid-template-areas:
      "main__bottom article__post"
      "main__bottom article__instagram"
      "article article"
      "article__tags article__tags";
  }

  .article__user-card {
    display: flex;
    gap: 25px;
    align-items: flex-start;
  }
  .article__user-card {
    padding: 30px 0 10px;
  }
  .article__inner-user-card {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    row-gap: 5px;
    align-items: flex-start;
    align-content: space-between;
  }
  .article__inner-user-card:nth-child(n + 2) {
    margin-top: 0;
  }
  .article__inner-user-card,
  .article__post:hover .scale-photo,
  .article__user-card:hover .scale-photo {
    transform: translateX(0);
  }
  .user-card-photo {
    padding-bottom: 30%;
    width: 39.5%;
    margin-bottom: 0;
    order: -1;
  }
  .user-card-text {
    width: 57%;
    order: -1;
  }
  .article-button {
    margin-top: 0;
    width: 100%;
  }
  .user-card-work,
  .user-card-name {
    width: 100%;

    margin-bottom: 0;
  }
  .user-card-name {
    margin-top: auto;
  }

  .article__title {
    position: sticky;
    top: 5px;
  }
  .article__title__tag {
    position: static;
  }
  .article__grid,
  .article__post-item {
    background: var(--color-white);
    position: sticky;
    top: 35px;
  }
  .grid-item__description,
  .main__item-description {
    padding: 5px;
  }
  .low-info__sticker-photo,
  .article__sticker-blue {
    top: 5px;
    left: 5px;
  }
  .footer-top__inner__recent-posts {
    display: none;
  }
  .form {
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .form-name,
  .form-button {
    width: 48%;
  }
  .footer-top__form {
    width: 50%;
  }
  .footer-top__form__inner {
    margin-bottom: 0;
  }
  .form-email {
    order: -1;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .main__bottom {
    grid-template-areas:
      "article__post article__post article__post"
      "main__bottom main__bottom main__bottom"
      "article article article"
      "article__tags article__instagram article__instagram";
    padding-bottom: 0;
  }
  .article__grid {
    transform: translateX(0);
  }
  .article__instagram:hover > .article__grid {
    transform: translateX(0);
  }
  .main__description-text-top {
    font-size: 16px;
  }
  .main__item-description {
    top: 90%;
  }
  .article__title,
  .article__post-item,
  .article__grid {
    position: static;
  }
  .article__title__instagram {
    position: static;
  }
  .article__post-item {
    width: 25%;
  }
  .article__post {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .article__title__posts {
    width: 100%;
    padding-inline: 15px;
    margin-bottom: 10px;
  }
  .article__post {
    padding-bottom: 0;
  }
  .article__post-item {
    transform: translateX(0);
    margin-top: 0;
  }
  .article__instagram {
    margin-top: 20px;

    padding-bottom: 0;
  }
  .article__title__tag,
  .article__tags-inner {
    position: sticky;
  }
  .article__title__tag {
    top: 10px;
  }
  .article__tags-inner {
    top: 50px;
    background: var(--color-white);
  }
  .footer-bottom__nav {
    gap: 0 20px;
  }
  .article__tags-inner {
    margin: 0;
  }
  .low-info__title {
    margin: 15px 0 27px;
  }
  .footer-bottom,
  .header {
    padding-block: 20px;
  }
  .footer-top {
    padding: 50px 0 35px;
  }
}

@media (max-width: 768px) {
  .header__nav-inner {
    gap: 0 25px;
  }
  .main__grid-item:nth-child(n + 2) > .grid-item__description {
    display: none;
  }
  .main__grid {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: -6;
  }
  .grid-item__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .main-photo {
    position: relative;
  }
  .main__grid-item:first-child {
    position: static;
  }
  .main__grid-item.scale-photo {
    box-shadow: none;
    scale: none;
  }
  .article__post-item {
    width: auto;
    flex-basis: 31%;
  }
  .main__grid {
    grid-template-rows: repeat(2, 22vw);
  }
  .article__post-photo {
    padding-bottom: 50%;
  }
  .low-info__item {
    flex-basis: 31%;
  }
}

@media (max-width: 600px) {
  .header__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30px;
    height: 2px;
    background-color: var(--color-blue);
    padding-block: 4px;
    border-bottom: solid 2px var(--color-blue);
    border-top: solid 2px var(--color-blue);
    background-clip: content-box;
    box-sizing: content-box;
  }

  .header__nav-inner {
    background-color: var(--color-black);
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    border-radius: 10px 3px;
    width: 50vw;
    row-gap: 20px;
    transition: all var(--animation);
  }

  .header__nav-inner.mobile-menu {
    transform: translate(-50%, 2%);
  }

  .header__nav-inner > .header__nav-item {
    padding: 10px 5px;
  }

  .low-info__item {
    flex-basis: 45%;
  }
  .footer-top__inner {
    gap: 30px;
  }
  .form-name,
  .form-button {
    width: 100%;
  }
  .footer-bottom__nav {
    gap: 0 10px;
  }
  .main__bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  .main__item-description {
    top: 86%;
  }
  .article__post {
    display: none;
  }
}

@media (max-width: 480px) {
  .main__inner-item:hover > .main__item-description {
    background-color: transparent;
    color: inherit;
  }

  .main__inner-item:hover > .main__item-description {
    transform: translate(-50%, -50%);
    height: 100%;
    overflow-y: visible;
    color: var(--color-white);
  }

  .main__item-description {
    background-color: transparent;
    color: var(--color-white);
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    margin-inline: 0;
    transition: none;
    padding: 15px;
    box-shadow: var(--color-black) inset 0 0 45px 45px;
    transition: all var(--animation);
  }

  .main__item-description > .sticker-blue {
    position: static;
  }

  .main__inner-item {
    padding-bottom: 70%;
  }

  .main__item-photo-img {
    filter: grayscale(20);
    transition: all var(--animation);
  }
  .main__inner-item:hover > .main__item-description,
  .main__inner-item:hover > .main__item-photo-img {
    filter: grayscale(0);
    box-shadow: var(--color-black) inset 0 0 45px 20px;
  }
  .main__description-text-bottom {
    background-color: var(--color-blue);
    border-radius: 10px 3px;
    padding: 5px;
    transform: translateY(90%);
    transition: all var(--animation);
  }

  .main__inner-item:hover > .main__item-description .main__description-text-bottom {
    transform: translateY(0%);
  }
  .info-arrow {
    bottom: 5%;
  }
  .footer-bottom__nav {
    display: none;
  }
}
