.scale-photo {
  transition: all var(--animation);
}
.scale-photo:hover,
.scale-photo:focus {
  scale: var(--scale-active);
  box-shadow: var(--color-black) 7px 7px 7px;
}

.scale-photo:active {
  scale: var(--scale-normal);
  box-shadow: 0 0 0 0;
}
